<div class="container h-100">
  <div class="row h-95 justify-content-center align-items-center">
    <div class="col">
      <div class="jumbotron shadow-sm CustomJumbo">
        <div class="container">
          <div class="clearfix">
            <div class="float-left">
              <h1 class="display-4">Harrison Barker</h1>
              <hr />
              <a href="https://twitter.com/Harrison_png" class="SocialLink" target="_blank">
                <p class="lead"><i id="twitter" class="fab fa-twitter socialIcon"></i>@Harrison_png
                </p>
              </a>
              <a href="https://www.instagram.com/harrisonbarker.png/" class="SocialLink" target="_blank">
                <p class="lead"><i id="instagram" class="fab fa-instagram socialIcon"></i>harrisonbarker.png</p>
              </a>
              <a href="https://github.com/MrHarrisonBarker" class="SocialLink" target="_blank">
                <p class="lead"><i id="gitHub" class="fab fa-github socialIcon"></i>MrHarrisonBarker
                </p>
              </a>
              <a href="mailto:mail@harrisonbarker.co.uk" class="SocialLink">
                <p class="lead"><i id="mail" class="far fa-envelope socialIcon"></i>mail@harrisonbarker.co.uk</p>
              </a>
            </div>
            <div class="float-right">
              <img id="profileImage" src="../../assets/profile.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row h-5 justify-content-center align-items-center">
        <a href="#Projects" id="Projects" class="ProjectsLink"><i class="fas fa-arrow-down"></i></a>
  </div>

</div>
