/* You can add global styles to this file, and also import other style files */
/* @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
} */

html {
  scroll-behavior: smooth;
}

.Project {
    border-radius: 0 !important;
}

.CustomBadge {
    margin: 0 0.1rem;
    color: white !important;
    background-color: rgb(33, 33, 33);
     transition: transform 100ms, margin-left 100ms, margin-right 100ms !important;
}

.CustomBadge:hover {
    transform: scale(1.1);
    margin: 0 0.3rem;
    cursor: pointer;
}
