<div class="card Project" (click)="routeToProj()" Shadow routerLinkActive="router-link-active">
  <img *ngIf="project.ImagePreview" class="card-img-top ProjectPreviewImage" src="{{project.ImagePreview}}">
  <div class="card-body">
    <div class="clearfix">
      <div class="float-right" *ngIf="project.IsFinished"><h5><span class="badge badge-success">Finished</span></h5></div>
      <h5 class="card-title float-left">{{project.Name}}</h5>
    </div>
    <p class="card-text">{{project.LogLine}}</p>
    <a *ngFor="let tech of project.Technologies" class="badge CustomBadge">{{tech}}</a>
  </div>
</div>
