.Foot a {
  color: rgb(33,33,33);
  text-decoration: none;
}

.Foot a:hover {
  color: rebeccapurple;
}

.h-90 {
  height: 90% !important;
}

.h-10 {
  height: 10% !important;
}

app-project-preview{
  cursor: pointer;
}

#ProjectTitle {
  margin: 0.5rem auto;
}

.bootstrap-switch-CustomOn {
  color: white;
  background: #6cc644;
}

.bootstrap-switch-custom-off {
  color: white;
  background: rebeccapurple;
}

.bootstrap-switch-handle-off .bootstrap-switch-custom {
  background: red;
}
