.Foot a {
  color: rgb(33,33,33);
  text-decoration: none;
}

.Foot a:hover {
  color: rebeccapurple;
}

.h-90 {
  height: 90% !important;
}

.h-10 {
  height: 10% !important;
}

app-project-preview{
  cursor: pointer;
}
